[submodule "rob"]
	path = rob
	url = https://github.com/WulfricC/rob
[submodule "utils"]
	path = utils
	url = https://github.com/WulfricC/utils
[submodule "stonefish"]
	path = stonefish
	url = https://github.com/WulfricC/stonefish
